staff.local.ag-opesys.dev {
	reverse_proxy staff-ui:3000
	tls internal
}

owner.local.ag-opesys.dev {
	reverse_proxy owner-ui:3000
	tls internal
}

api.local.ag-opesys.dev {
	reverse_proxy worker:8787
	tls internal
}
